{
  email {$EMAIL}
  storage file_system /data
  acme_ca {$ACME_CA:https://acme-v02.api.letsencrypt.org/directory}
}

{$DOMAIN} {
  handle_path /load-state* {
	reverse_proxy 127.0.0.1:3000
  }
  handle_path /save-state* {
	reverse_proxy 127.0.0.1:3000
  }
  root * /app/www
  file_server

  @feed {
    path /feed.xml
  }
  handle @feed {
    root * /data/feed
    header {
      Access-Control-Allow-Origin   *
      Access-Control-Expose-Headers ETag, Last-Modified
    }
    file_server
  }
}

